<!DOCTYPE html>
<html>
<head>
    <title>Predict Fraud</title>
</head>
<body>

<h2>Enter Transaction Details</h2>

<form action="/submit" method="post">

    Step: <input type="text" name="step"><br><br>
    Amount: <input type="text" name="amount"><br><br>
    Old Balance Origin: <input type="text" name="oldbalanceOrg"><br><br>
    New Balance Origin: <input type="text" name="newbalanceOrig"><br><br>
    Old Balance Destination: <input type="text" name="oldbalanceDest"><br><br>
    New Balance Destination: <input type="text" name="newbalanceDest"><br><br>

    <input type="submit" value="Predict">

</form>

</body>
</html>
